<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Coderhouse</title>
    </head>
    <body style="display: grid;
                 justify-items: center;
                 align-items: center;
                 height: 100vh">
        <header>
            <h1>

                {% block header %}
                {% endblock header %}

            </h1>
        </header>
        <main>
            {% include 'core/componentes/navbar.html' %}

            {% block main %}
            {% endblock main %}

        </main>
        <footer>
            {% include 'core/componentes/footer.html' %}
        </footer>
    </body>
</html>
