{% extends 'core/base.html' %}

{% block header %}
    App Clientes: Registros de Clientes
{% endblock header %}

{% block main %}
    <form action="{% url 'clientes:cliente_list' %}" method="get">
        <input type="text" name="q" placeholder="Buscar..." />
        <button type="submit">Buscar</button>
        <button>
            <a href="{% url 'clientes:cliente_create' %}">Crear Registro</a>
        </button>
    </form>
    <ul>
        {% for object in object_list %}
            {% if object.pais_origen_id.nombre %}
                <li>{{ object.apellido | upper }}, {{ object.nombre }} ({{ object.pais_origen_id.nombre }})</li>
            {% else %}
                <li>{{ object.apellido | upper }}, {{ object.nombre }}</li>
            {% endif %}
        {% empty %}
            <p>No hay registros</p>
        {% endfor %}
    </ul>
    <button>
        <a href="{% url 'clientes:index' %}">Volver</a>
    </button>
{% endblock main %}

nombre = models.CharField(max_length=50)
apellido = models.CharField(max_length=50)
nacimiento = models.DateField(null=True, blank=True)
pais_origen_id
