{% extends 'core/base.html' %}

{% block header %}
    App Productos: Registros de Categorías de Productos
{% endblock header %}

{% block main %}
    <form action="{% url 'productos:productocategoria_list' %}" method="get">
        <input type="text" name="q" placeholder="Buscar..." />
        <button type="submit">Buscar</button>
        <button>
            <a href="{% url 'productos:productocategoria_create' %}">Crear Registro</a>
        </button>
    </form>
    <ul>
        {% for object in object_list %}
            <li>{{ object }}</li>
        {% empty %}
            <p>No hay registros</p>
        {% endfor %}
    </ul>
    <button>
        <a href="{% url 'productos:index' %}">Volver</a>
    </button>
{% endblock main %}
