{% extends 'core/base.html' %}

{% block header %}
    Clientes: Lista de países
{% endblock header %}

{% block main %}
    <form action="{% url 'clientes:pais_list' %}" method="get">
        <input type="text" name="q" placeholder="Buscar..." >
        <button type="submit">Buscar</button>
    </form>
    <div>
        {% for object in paises %}
            <p>
                {{ object }}
            </p>
        {% empty %}
            <p>No hay registros</p>
        {% endfor %}
    </div>
    <button>
        <a href="{% url 'clientes:index' %}">Volver</a>
    </button>
{% endblock main %}
