{% extends 'core/base.html' %}

{% block header %}
    App Clientes: Registros de Países
{% endblock header %}

{% block main %}
    <form action="{% url 'clientes:pais_list' %}" method="get">
        <input type="text" name="q" placeholder="Buscar..." />
        <button type="submit">Buscar</button>
        <button>
            <a href="{% url 'clientes:pais_create' %}">Crear Registro</a>
        </button>
    </form>
    <div>
        {% for object in object_list %}
            <p>{{ object }}</p>
        {% empty %}
            <p>No hay registros</p>
        {% endfor %}
    </div>
    <button>
        <a href="{% url 'clientes:index' %}">Volver</a>
    </button>
{% endblock main %}
