{% extends 'core/base.html' %}

{% block header %}
    App Clientes: Registros de Países
{% endblock header %}

{% block main %}
    <form action="{% url 'clientes:pais_list' %}" method="get">
        <input type="text" name="q" placeholder="Buscar..." />
        <button type="submit">Buscar</button>
        <button>
            <a href="{% url 'clientes:pais_create' %}">Crear Registro</a>
        </button>
    </form>
    <ul>
        {% for object in object_list %}
            <li>{{ object.nombre }}
                <a href="{% url 'clientes:pais_detail' object.id %}">Detalle</a>
            </li>
        {% empty %}
            <p>No hay registros</p>
        {% endfor %}
    </ul>
    <button>
        <a href="{% url 'clientes:index' %}">Volver</a>
    </button>
{% endblock main %}
